# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea
.vscode
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment
.env
.env.local

# Test
target/
test-output/

# Git
.git
.gitignore
.gitattributes

# Documentation
README.md
docs/

# Docker
compose.yaml
Dockerfile
.dockerignore
